.dragging {
  // using both classes to override normal .script regardless of bundling order
  &.script {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 9;
    transition: none;
    pointer-events: none;
    background: hsl(34, 75%, 93%) !important;
    @media (prefers-color-scheme: dark) {
      background: hsl(33, 11%, 31%) !important;
    }
  }
  &-noscroll {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    touch-action: none;
  }
  &-placeholder {
    visibility: hidden;
  }
}
