* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font: 14px menu;
}

body {
  font-size: 1rem;
  background: white;
  color: black;
}

// Form elements will not inherit
body,
button,
select,
input,
textarea {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", sans-serif;
}

h1 {
  font-size: 1.5rem;
}
h1, h2 {
  margin-top: .5em;
  margin-bottom: .5em;
}
a {
  color: dodgerblue;
}
hr {
  margin: .5rem;
  border: none;
  border-top: 1px solid darkgray;
}
input[disabled] ~ * {
  color: gray;
}
input[type=text],
input[type=password] {
  line-height: 1.5rem;
  &[disabled] {
    background: #eee;
    cursor: not-allowed;
  }
}
textarea {
  display: block;
  width: 100%;
}
input[type=text],
input[type=password],
textarea {
  padding: 0 .5rem;
  border: 1px solid #ccc;
  &:focus {
    border-color: darkgray;
  }
}
code {
  padding: 0 .2em;
  background: #f7e999;
}

fieldset {
  display: inline-block;
  padding: .5rem;
  border: 1px solid #ccc;
}

:focus {
  outline: none;
}

.icon {
  width: 1rem;
  height: 1rem;
}

// Firefox does not support `svg path` selector
svg {
  fill: currentColor;
}

button {
  border: 1px solid #afafaf;
  background: #f4f4f4;
  color: black;
  &:hover {
    background: #e4e4e4;
  }
  &:active {
    background: #bfbfbf;
  }
  &:focus {
    border-color: #000;
  }
  &[disabled] {
    color: #d0d0d0;
    border-color: #d0d0d0;
    background: #f0f0f0;
  }
  &:not([disabled]) {
    cursor: pointer;
  }
}

button,
.btn-ghost,
.sep {
  display: inline-block;
  padding: 0 .5rem;
  font-size: 1rem;
  line-height: 1.5;
  vertical-align: bottom;
}
.btn-ghost {
  color: inherit;
  border: 1px solid transparent;
  cursor: pointer;
  &:hover {
    border-color: #bbb;
    background: white;
  }
  > .icon {
    display: block;
    height: 2rem;
  }
  &.active {
    background: #eee;
    border-color: #aaa;
  }
}

.sep {
  &::after {
    content: '';
    border-right: 1px solid #bbb;
  }
}

.pull-right {
  float: right;
}
.inline-block {
  display: inline-block;
}
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-auto {
  flex: auto;
  .flex-col > & {
    height: 0;
  }
  :not(.flex-col) > & {
    width: 0;
  }
}
.flex-1 {
  flex: 1;
}
.pos-rel {
  position: relative;
}
.ml-1 {
  margin-left: .5em;
}
.mr-1 {
  margin-right: .5em;
}
.ml-2 {
  margin-left: 1em;
}
.mr-2 {
  margin-right: 1em;
}
.mt-1 {
  margin-top: .5em;
}
.mb-1 {
  margin-bottom: .5em;
}
.mb-2 {
  margin-bottom: 1em;
}
.mx-1 {
  margin-left: .5em;
  margin-right: .5em;
}
.my-1 {
  margin-top: .5em;
  margin-bottom: .5em;
}
.h-100 {
  height: 100%;
}
.w-1 {
  width: 4em;
}
.fixed-full {
  position: fixed;
}
.abs-full {
  position: absolute;
}
.fixed-full,
.abs-full {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.scroll-y {
  overflow-y: auto;
}

.frame {
  background: #f0f0f0;
  &-block {
    padding: .5rem;
  }
}

.editor-code .CodeMirror {
  height: 100%;
}

.monospace-font,
.editor-code .CodeMirror {
  /* Use `Courier New` to ensure `&nbsp;` has the same width as an original space. */
  font-family: "Fira Code", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", Courier, monospace;
}

.vl-tooltip {
  z-index: 10000 !important;
}

.vl-dropdown-menu {
  padding: .5rem;
  border: 1px solid #bbb;
  background: white;
}

.modal-content {
  margin: 0 auto;
  padding: 1rem;
  background: white;
}

@media (min-width: 768px) {
  .visible-sm {
    display: none;
  }
}

@media (max-width: 767px) {
  .hidden-sm {
    display: none !important;
  }
}

@media (max-width: 319px) {
  .hidden-xs {
    display: none !important;
  }
}
