body {
  min-width: 20em;
  padding-top: 1em;
}

.logo {
  text-align: center;
  img {
    width: 4em;
  }
  &.disabled > img {
    opacity: .5;
  }
}
.menu {
  border-top: 1px solid silver;
  &-item {
    position: relative;
    height: 2rem;
    line-height: 2rem;
    padding: 0 3rem;
    cursor: pointer;
    text-align: center;
    .submenu > & {
      text-align: left;
    }
    &.disabled {
      color: gray;
      &:hover {
        color: silver;
      }
    }
    &:hover {
      background: cornflowerblue;
      color: white;
    }
    > .icon {
      position: absolute;
      top: 0;
      left: 1.5rem;
      width: 1rem;
      height: 100%;
      &-right {
        left: auto;
        right: 1.5em;
      }
    }
  }
  .icon-collapse {
    transform: none;
  }
  &.expand {
    background: #fbfbfb;
    > .submenu {
      display: block;
    }
    .icon-collapse {
      transform: rotateZ(90deg);
    }
  }
}
.submenu {
  display: none;
  background: white;
  min-height: 4rem;
  max-height: 16rem;
  margin-left: 2rem;
  overflow-y: auto;
  border-top: 1px dashed #ddd;
}
