* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font: 14px menu;
}
.menu {
  max-width: 30rem;
  max-height: 30rem;
  overflow-x: hidden;
  overflow-y: auto;
}
.menu.placeholder {
  max-width: none;
  height: 0;
  overflow: hidden;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-item-label {
  cursor: pointer;
  padding: .4rem;
  white-space: nowrap;
}
.menu-item-detail:hover,
.menu-item-label:hover {
  background: cornflowerblue;
  color: white;
}
.menu-item.disabled .menu-item-label {
  color: gray;
}
.menu-item.disabled .menu-item-label:hover {
  color: silver;
}
.menu-item-detail {
  float: right;
  border-radius: .1rem;
  text-align: center;
  width: 1rem;
  margin: .4rem;
  background: white;
  cursor: pointer;
}
.menu-item-detail ~ .menu-item-label {
  padding-right: 2em;
}
hr {
  border: none;
  border-top: 1px solid silver;
}
.icon {
  width: 1rem;
  height: 1rem;
  vertical-align: bottom;
}
svg path {
  fill: currentColor;
}
