h1,h2{text-shadow:#999 3px 3px 5px;}
a{color:dodgerblue;cursor:pointer;}
.center{text-align:center;}
.float,.frame{position:fixed;background:lightgray;border-spacing:10px;}
.frame{left:0;right:0;top:0;bottom:0;table-layout:fixed;width:100%;height:100%;}
.float{margin:0 auto;padding:10px;border-radius:10px;}
.fill{background:#eee;height:100%;margin:0;padding:0;}
.em{font-style:italic;}
.new{color:red;}
.ellipsis{white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
.buttons{text-align:right;vertical-align:bottom;}
.x{clear:both;margin:0;padding:0;}
.hide{display:none;}
tr{vertical-align:top;padding:0;height:1px;}
tr.expand{height:auto;}
.expandr{position:relative;}
.expanda{position:absolute;width:100%;height:100%;}
