a{color:dodgerblue;}
textarea,input[type=text]{box-sizing:border-box;width:100%;}
.main{max-width:900px;height:100%;margin:0 auto;}
.sidebar{position:fixed;background:#fafafa;width:200px;margin-top:30px;box-sizing:border-box;border:1px solid darkgray;border-radius:10px 0 0 10px;border-right:none;padding:20px 10px 10px;text-align:right;}
.sidebar img{width:64px;}
.sidebar>hr{border:none;border-top:1px solid darkgray;}
.sidemenu>a{color:gray;display:block;font-size:1.17em;font-weight:bold;line-height:2.5em;text-decoration:none;}
.sidemenu>a.selected,.sidemenu>a:hover{color:black;}
.content{background:white;margin-left:200px;box-sizing:border-box;border-left:1px solid darkgray;border-right:1px solid darkgray;height:100%;overflow-y:auto;position:relative;}
.content>div{margin:20px;}
.controls{height:1px;}
.controls>div{padding:5px 10px;}
fieldset.title{border:none;border-top:1px solid silver;margin:20px 0 0;}
tr{vertical-align:top;padding:0;height:1px;}

/* Installed scripts */
#tabInstalled{height:100%;width:100%;margin:0;}
#tabInstalled>.header{height:2rem;line-height:2rem;}
#sList{overflow-y:auto;box-sizing:border-box;border-top:1px solid darkgray;position:absolute;top:2rem;bottom:0;width:100%;}
#sList>div{border-bottom:1px dashed silver;padding:10px;position:relative;}
#sList>div.disabled{background:lightgray;color:gray;}
#sList>div.disabled .name{color:blueviolet;}
#sList>div.disabled .icon{opacity:0.5;}
#sList>div.moving{background:lightgreen;border:1px outset gray;cursor:move;}
#sList .name{font-weight:bold;font-size:120%;}
#sList .support{width:16px;height:16px;border-radius:8px;background-color:green;color:white;text-align:center;display:inline-block;text-decoration:none;font-size:12px;}
#sList .support.hide{display:none;}
#sList .icon{top:1em;width:40px;height:40px;margin:2px;position:absolute;}
#sList .descrip{margin-left:60px;min-height:1em;max-height:4.5em;overflow-y:auto;}
#sList .move{cursor:move;color:gray;font-size:150%;}
#sList .panelH{margin-left:60px;margin-right:20px;}
#sList .panelH>*{display:inline-block;margin-right:10px;}
#sList .panelT{position:absolute;top:10px;right:10px;}

/* Editor */
#eMeta{max-width:450px;max-height:100%;height:auto;background:lightgray;z-index:10;right:0;top:0;padding:10px;box-sizing:border-box;overflow-y:auto;box-shadow:gray -2px 4px 4px;position:absolute;}
#eMeta table{width:100%;}
#eMeta td{width:1px;white-space:nowrap;vertical-align:middle;}
#eMeta td.expand{width:auto;}
.frame>.header{height:5rem;}
.frame>.header>.buttons{bottom:1rem;}
.frame>.footer{position:absolute;height:3rem;bottom:0;width:100%;line-height:3rem;}
.frame>.footer>.options{float:left;}
.frame>.footer>.right{text-align:right;}
.frame>.body{top:5rem;bottom:3rem;}

/* Settings */
#xList{display:block;width:100%;white-space:normal;min-height:100px;}
#xList>option{display:inline-block;width:180px;margin:2px;padding:0 5px;border:1px dashed lightgray;}
