a{color:dodgerblue;}
textarea,input[type=text]{box-sizing:border-box;width:100%;}
.main{max-width:900px;height:100%;margin:0 auto;}
.sidebar{position:fixed;background:#fafafa;width:200px;margin-top:30px;box-sizing:border-box;border:1px solid darkgray;border-radius:10px 0 0 10px;border-right:none;padding:20px 10px 10px;text-align:right;}
.sidebar img{width:64px;}
.sidebar>hr{border:none;border-top:1px solid darkgray;}
.sidemenu>a{color:gray;display:block;font-size:1.17em;font-weight:bold;line-height:2.5em;text-decoration:none;}
.sidemenu>a.selected,.sidemenu>a:hover{color:black;}
.content{background:white;margin-left:200px;box-sizing:border-box;border-left:1px solid darkgray;border-right:1px solid darkgray;height:100%;overflow-y:auto;position:relative;}
.content>div{margin:20px;}
.controls{height:1px;}
.controls>div{padding:5px 10px;}
.list{background:white;}
.list>div{border-bottom:1px dashed lightgray;line-height:2em;}
.list .selected{background:lightgreen;color:darkgreen;}
fieldset.title{border:none;border-top:1px solid silver;margin:20px 0 0;}

/* Installed scripts */
#tabInstalled{height:100%;width:100%;}
#sList{height:100%;overflow-y:auto;box-sizing:border-box;padding:0 10px 10px;border-top:1px solid darkgray;}
#sList>div{border-bottom:1px dashed silver;padding:10px;position:relative;}
#sList>div.disabled{background:lightgray;color:gray;}
#sList>div.disabled .name{color:blueviolet;}
#sList>div.disabled .icon{opacity:0.5;}
#sList>div.moving{background:lightgreen;border:1px outset gray;cursor:move;}
#sList .name{margin-left:60px;margin-right:10px;font-weight:bold;font-size:120%;}
#sList .support{margin-right:10px;width:16px;height:16px;border-radius:8px;background-color:green;color:white;text-align:center;display:inline-block;text-decoration:none;font-size:12px;}
#sList .support.hide{display:none;}
#sList .icon{top:1em;width:40px;height:40px;margin:2px;position:absolute;}
#sList .version{margin-right:10px;}
#sList .descrip{margin-left:60px;}
#sList .move{cursor:move;margin-left:20px;color:gray;font-size:150%;}
#sList .panelT{position:absolute;top:10px;right:10px;}

/* Editor */
#eMeta{max-width:450px;max-height:100%;height:auto;background:lightgray;z-index:10;right:-1px;padding:10px;box-sizing:border-box;overflow-y:auto;box-shadow:gray -2px 4px 4px;}
#eMeta table{width:100%;}
#eMeta td{width:1px;white-space:nowrap;vertical-align:middle;}
#eMeta td.expand{width:auto;}

/* Settings */
#tabSettings>table{width:100%;}
#tabSettings>table td{width:1px;white-space:nowrap;vertical-align:middle;}
#tabSettings>table td.expand{width:auto;}
#tabSettings .list{min-height:100px;max-height:400px;border:1px solid darkgray;cursor:pointer;overflow-y:auto;}
#tabSettings .list>div{display:inline-block;width:180px;margin:2px;padding:0 5px;border:1px dashed lightgray;}
