html,
body {
  height: 100%;
}
aside {
  position: relative;
  z-index: 1000;
}
.aside-content {
  width: 14rem;
  height: 100%;
  padding: 4rem 1rem 0;
  text-align: right;
  border-right: 1px solid darkgray;
  background: #fafafa;
  img {
    width: 5rem;
  }
}
.aside-menu {
  border-top: 1px solid #bbb;
  > a {
    display: block;
    padding-top: .6rem;
    padding-bottom: .6rem;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    color: gray;
    &.active,
    &:hover {
      color: black;
    }
  }
}
.aside-toggle {
  position: absolute;
  width: 1rem;
  height: 2rem;
  top: 1rem;
  left: 0;
  line-height: 2rem;
  background: #fafafa;
  color: darkgray;
  border: 1px solid currentColor;
  border-left: 0;
  border-radius: 0 1rem 1rem 0;
  &-wrapper {
    position: absolute;
    width: 2rem;
    height: 4rem;
    top: 50%;
    left: 100%;
    margin-top: -2rem;
  }
  > .icon {
    display: block;
    margin-top: .4rem;
    margin-left: -.1rem;
  }
  .show-aside & > .icon {
    transform: rotateY(180deg);
  }
}
.aside-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.text-red {
  color: red;
}
.text-green {
  color: green;
}
.text-right {
  text-align: right;
}
section {
  position: relative;
  margin-top: 2rem;
  padding: 1.2rem .8rem .8rem;
  border: none;
  border-top: 1px solid silver;
  > h3 {
    position: absolute;
    padding: 0 .2rem;
    top: -.6em;
    left: .8rem;
    line-height: 1;
    background: white;
  }
  > h4 {
    margin-bottom: .3rem;
  }
  > p {
    margin-bottom: .3rem;
  }
}

.tab {
  position: relative;
  padding: 1.2rem;
  background: white;
}

input[type=checkbox] {
  margin-right: .5em;
}

.vl-modal {
  z-index: 3000;
}

.in-out {
  &-appear,
  &-enter,
  &-leave-active {
    > .modal-content {
      transform: translateY(-120%);
    }
    > .vl-modal-backdrop {
      opacity: 0;
    }
  }
  &-appear-active,
  &-enter-active,
  &-leave-active {
    &,
    > .modal-content {
      transition: transform .5s;
    }
    > .vl-modal-backdrop {
      transition: opacity .5s;
    }
  }
}

@media (max-width: 767px) {
  .aside-content {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: transform .2s;
    .show-aside > & {
      transform: none;
    }
  }
}
