* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
  font: 14px menu;
  background: #eee;
}
body {
  height: 100%;
  font-size: 1em;
}
h1 {
  font-size: 1.5rem;
}
h1, h2 {
  margin-top: .5em;
  margin-bottom: .5em;
}
button {
  padding: 0 .5rem;
}
a {
  color: dodgerblue;
}
textarea,
input[type=text] {
  width: 100%;
}
input[disabled] ~ * {
  color: gray;
}
hr {
  border: none;
  border-top: 1px solid darkgray;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.dropdown {
  position: relative;
  cursor: pointer;
  display: inline-block;
}
.dropdown:not(.open) .dropdown-menu {
  display: none;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  width: 13rem;
  margin-top: .4rem;
  padding: 1rem;
  background: #f8f8f8;
  border-radius: .3rem;
  box-shadow: .1rem .2rem .2rem gray;
  z-index: 10;
}

.main {
  position: relative;
  max-width: 65rem;
  height: 100%;
  margin: 0 auto;
}
aside {
  position: absolute;
  background: #fafafa;
  top: 3rem;
  left: 0;
  width: 14rem;
  padding: 1rem 1rem 0;
  border: 1px solid darkgray;
  border-right: none;
  border-radius: 1rem 0 0 1rem;
  text-align: right;
}
aside img {
  width: 5rem;
}
.sidemenu > a {
  display: block;
  line-height: 2.5rem;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  color: gray;
}
.sidemenu > a.active,
.sidemenu > a:hover {
  color: black;
}
.content {
  position: relative;
  height: 100%;
  margin-left: 14rem;
  padding: 1.2rem;
  background: white;
  border-left: 1px solid darkgray;
  border-right: 1px solid darkgray;
  overflow-y: auto;
}
.content > header {
  height: 2rem;
  line-height: 2rem;
  padding: 0 .5rem;
  border-bottom: 1px solid darkgray;
}
.backdrop,
.scripts {
  position: absolute;
  top: 2rem;
  left: 0;
  right: 0;
  bottom: 0;
}
.scripts {
  overflow-y: auto;
}
.backdrop {
  text-align: center;
  color: gray;
  z-index: 9;
}
.backdrop > *,
.backdrop::after {
  display: inline-block;
  vertical-align: middle;
  font-size: 2rem;
}
.backdrop::after {
  content: ' ';
  width: 0;
  height: 100%;
}
.mask {
  background: rgba(0,0,0,.08);
  /*transition: opacity 1s;*/
}
#currentLang {
  color: green;
  font-weight: bold;
}
.line {
  display: block;
  line-height: 2;
}
.no-pad {
  padding: 0;
}
fieldset.title {
  margin-top: 1rem;
  padding: .8rem;
  border: none;
  border-top: 1px solid silver;
}
.export-list {
  display: block;
  width: 100%;
  height: 14rem;
  white-space: normal;
}
.export-list > option {
  display: inline-block;
  width: 13rem;
  margin: .1rem .2rem;
  padding: 0 .3rem;
  box-shadow: 0 0 1px black;
}
.frame {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #eee;
  z-index: 10;
}
.frame-header {
  position: absolute;
  top: 0;
  left: .5rem;
  right: .5rem;
  height: 5rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
.frame-body {
  position: absolute;
  top: 0;
  left: .5rem;
  right: .5rem;
  bottom: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
.frame-footer {
  position: absolute;
  left: .5rem;
  right: .5rem;
  bottom: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
.frame-header ~ .frame-body {
  top: 5rem;
}
.frame-footer ~ .frame-body {
  bottom: 2rem;
}
.frame-header > .buttons {
  float: right;
  margin-top: 1rem;
}
.buttons > * {
  display: inline-block;
  position: relative;
}
.options-panel label {
  display: block;
}
.editor-code,
.editor-code .CodeMirror {
  height: 100%;
}
.confirm-url {
  float: left;
  max-width: 50%;
}
.confirm-msg {
  text-align: right;
}
.script {
  position: relative;
  margin: .6rem;
  padding: .6rem;
  border: 1px solid #ccc;
  border-radius: .3rem;
  transition: transform .5s;
}
.script:hover {
  border-color: darkgray;
}
.script.disabled {
  background: lightgray;
  color: gray;
}
.script .pull-right {
  margin-left: 1em;
}
.script-info {
  margin-left: 3.5rem;
  line-height: 1.5;
}
.script-info > * {
  display: inline-block;
  margin-right: .8rem;
  vertical-align: middle;
}
.script-icon {
  position: absolute;
  top: .8rem;
  width: 3rem;
  height: 3rem;
}
.script-name {
  font-weight: bold;
  font-size: 1rem;
}
.script-author {
  max-width: 30%;
}
.script-desc {
  margin-left: 3.5rem;
  line-height: 2rem;
}
.script-desc::after {
  content: "\200b";
}
.disabled .script-icon {
  filter: grayscale(.5);
}
.disabled .script-name {
  color: blueviolet;
}
.dragging-placeholder {
  visibility: hidden;
}
.dragging {
  position: fixed;
  margin: 0;
  background: wheat;
  z-index: 9;
}
.edit .frame-header {
  height: 4rem;
}
.edit .frame-header ~ .frame-body {
  top: 4rem;
}
.edit .dropdown-menu {
  width: 32rem;
}
.edit .dropdown-menu > table {
  width: 100%;
}
.edit .dropdown-menu td:not(.expand) {
  width: 1px;
  white-space: nowrap;
}
.feature-text {
  position: relative;
}
.feature .feature-text::after {
  content: '';
  display: block;
  position: absolute;
  left: 100%;
  border-radius: 50%;
}
.feature .feature-text::after {
  top: -.1rem;
  width: .4rem;
  height: .4rem;
  margin-left: .1rem;
  background: red;
}
.message {
  position: absolute;
  width: 14rem;
  top: 0;
  left: 50%;
  margin-left: -7rem;
  padding: 1rem;
  z-index: 10;
  background: white;
  border-bottom-left-radius: .2rem;
  border-bottom-right-radius: .2rem;
  box-shadow: 0 0 .2rem rgba(0,0,0,.2);
}
.message-enter-active,
.message-leave-active {
  transition: transform .5s;
}
.message-enter,
.message-leave-active {
  transform: translateY(-120%);
}
.icon {
  width: 1rem;
  height: 1rem;
  vertical-align: middle;
}
svg path {
  fill: currentColor;
}
