<div class=frame-header>
  <div class=buttons>
    <div>
      <button class="button-toggle" data-i18n=buttonInstallOptions></button>
      <!--<div class="button-panel options-panel"></div>-->
    </div>
    <button id=btnInstall data-i18n=buttonConfirmInstallation></button>
    <button id=btnClose data-i18n=buttonClose></button>
  </div>
  <h1><span data-i18n=labelInstall></span> - <span data-i18n=extName></span></h1>
  <div id=url class=ellipsis title="<%- it.url %>"><%- it.url %></div>
  <div id=msg class=ellipsis></div>
</div>
<div class=frame-body>
  <div class=editor-code></div>
</div>
