<div class="frame-header">
  <div class="buttons">
    <div>
      <button class="button-toggle" data-i18n=buttonCustomMeta></button>
    </div>
  </div>
  <h2 data-i18n="labelScriptEditor"></h2>
</div>
<div class="frame-footer">
  <div class="pull-right">
    <button id="editorSave" data-i18n=buttonSave></button>
    <button id="editorSaveClose" data-i18n=buttonSaveClose></button>
    <button id="editorClose" data-i18n=buttonClose></button>
  </div>
  <label>
    <input type=checkbox data-id="!update" <%= it.update ? 'checked' : '' %>>
    <span data-i18n=labelAllowUpdate></span>
  </label>
</div>
<div class=frame-body>
  <div class="editor-code"></div>
</div>
