<img class=script-icon src="<%- it._icon %>">
<div class="script-version pull-right">
  <%- it.meta.version ? 'v' + it.meta.version : '' %>
</div>
<div class="script-author ellipsis pull-right" title="<%- it.meta.author || '' %>">
  <%= it.author %>
</div>
<div class=script-info>
  <a class="script-name ellipsis" target=_blank
    <%= it.homepageURL ? 'href="' + _.escape(it.homepageURL)  + '"' : '' %>
    ><%- it.custom.name || it.getLocaleString('name') %>
  </a>
  <a class="script-support <%= it.meta.supportURL ? '' : 'hide' %>"
    target=_blank href="<%- it.meta.supportURL %>">
    <i class="fa fa-question-circle"></i>
  </a>
</div>
<p class="script-desc ellipsis">
  <%- it.custom.description || it.getLocaleString('description') %>
</p>
<div class=buttons>
  <button data-id=edit data-i18n="buttonEdit"></button>
  <button data-id=enable><%=
    it.enabled ? _.i18n('buttonDisable') : _.i18n('buttonEnable')
  %></button>
  <button data-id=remove data-i18n="buttonRemove"></button>
  <%= it.canUpdate ?
  '<button data-id=update data-i18n="buttonUpdate"' + (
    it.checking ? ' disabled' : ''
  ) + '></button>'
  : '' %>
  <span data-id=message><%= it.message %></span>
</div>
