<img data-id=icon class=script-icon>
<div data-id=version class=right>
  <%= it.version ? 'v' + it.version : '' %>
</div>
<div data-id=author class="right script-author ellipsis">
  <%= it.author %>
</div>
<div class=script-info>
  <a data-id=name class="script-name ellipsis" target=_blank>
    <%= it.name %>
  </a>
  <a data-id=support class="script-support hide" target=_blank>
    <i class="fa fa-question-circle"></i>
  </a>
</div>
<p data-id=desc class="script-desc ellipsis">
  <%= it.desc %>
</p>
<div class=buttons>
  <button data-id=edit data-i18n="buttonEdit"></button>
  <button data-id=enable data-i18n="<%=
    it.enabled ? 'buttonDisable' : 'buttonEnable'
  %>"></button>
  <button data-id=remove data-i18n="buttonRemove"></button>
  <%= it.allowUpdate() ? '<button data-id=update data-i18n="buttonUpdate"></button>' : '' %>
  <span data-id=message><%= it.message %></span>
</div>
