<label>
  <input type=checkbox data-check="<%= it.name + 'Enabled' %>" data-sync="<%= it.name %>" <%=
  it.enabled ? 'checked' : ''
  %>>
  <span><%= _.i18n('labelSyncTo', it.displayName || it.name) %></span>
</label>
<button data-auth="<%= it.name %>" <%=
  it.authState === 'unauthorized' ? '' : 'disabled'
%>><%=
  {
    authorized: _.i18n('buttonAuthorized'),
    authorizing: _.i18n('buttonAuthorizing'),
  }[it.authState] || _.i18n('buttonAuthorize')
%></button>
<button <%=
  !_.includes(['authorized', 'error'], it.authState) ||
  _.includes(['ready', 'syncing'], it.syncState)
  ? 'disabled' : ''
%> class="sync-start">
  <svg class="icon"><use xlink:href="#refresh"/></svg>
</button>
<span><%=
  it.authState === 'initializing' ? _.i18n('msgSyncInit') :
  it.authState === 'error' ? _.i18n('msgSyncInitError') :
  it.syncState === 'error' ? _.i18n('msgSyncError') :
  it.syncState === 'ready' ? _.i18n('msgSyncReady') :
  it.syncState === 'syncing' ? _.i18n('msgSyncing') + it.progress :
  it.lastSync ? _.i18n('lastSync', it.lastSync) : ''
%></span>
