<div class="content">
  <h1>
    <span data-i18n=labelAbout></span>
    <small>v<%= it.version %></small>
  </h1>
  <div class=line data-i18n=extDescription></div>
  <div class=line>
    <label data-i18n=labelRelated></label>
    <span data-i18n=anchorSupportPage></span> |
    <a href=http://gerald.top/donate target=_blank data-i18n=labelDonate></a> |
    <a href=https://github.com/Violentmonkey/Violentmonkey/issues target=_blank data-i18n=labelFeedback></a>
  </div>
  <div class=line>
    <label data-i18n=labelAuthor></label>
    <span data-i18n=anchorAuthor></span>
  </div>
  <div class=line>
    <label data-i18n=labelTranslator></label>
    <span data-i18n=anchorTranslator></span>
  </div>
  <div class=line>
    <label data-i18n=labelCurrentLang></label>
    <span id="currentLang"><%= navigator.language %></span> |
    <a href=http://cotrans.geraldl.net target=_blank>
      Help with translation
      <i class="fa fa-language"></i>
    </a>
  </div>
</div>
