<div class="frame edit">
  <div class="frame-header">
    <div class="buttons">
      <div v-dropdown>
        <button dropdown-toggle v-text="'buttonCustomMeta'|i18n"></button>
        <div class="dropdown-menu">
          <table>
            <tr>
              <td title="@name" v-text="'labelName'|i18n"></td>
              <td class=expand>
                <input type="text" v-model="custom.name" placeholder="{{placeholders.name}}">
              </td>
              <td title="@run-at" v-text="'labelRunAt'|i18n"></td>
              <td>
                <select v-model="custom['run-at']">
                  <option value=default v-text="'labelRunAtDefault'|i18n"></option>
                  <option value=start>document-start</option>
                  <option value=idle>document-idle</option>
                  <option value=end>document-end</option>
                </select>
              </td>
            </tr>
            <tr title="@homepageURL">
              <td v-text="'labelHomepageURL'|i18n"></td>
              <td colspan=3 class=expand>
                <input type="text" v-model="custom.homepageURL" placeholder="{{placeholders.homepageURL}}">
              </td>
            </tr>
          </table>
          <table>
            <tr title="@updateURL">
              <td v-text="'labelUpdateURL'|i18n"></td>
              <td class=expand>
                <input type="text" v-model="custom.updateURL" placeholder="{{placeholders.updateURL}}">
              </td>
            </tr>
            <tr title="@downloadURL">
              <td v-text="'labelDownloadURL'|i18n"></td>
              <td class=expand>
                <input type="text" v-model="custom.downloadURL" placeholder="{{placeholders.downloadURL}}">
              </td>
            </tr>
          </table>
          <fieldset title="@include">
            <legend>
              <span v-text="'labelInclude'|i18n"></span>
              <label>
                <input type=checkbox v-model="custom.keepInclude">
                <span v-text="'labelKeepInclude'|i18n"></span>
              </label>
            </legend>
            <div v-text="'labelCustomInclude'|i18n"></div>
            <textarea v-model="custom.include"></textarea>
          </fieldset>
          <fieldset title="@match">
            <legend>
              <span v-text="'labelMatch'|i18n"></span>
              <label>
                <input type=checkbox v-model="custom.keepMatch">
                <span v-text="'labelKeepMatch'|i18n"></span>
              </label>
            </legend>
            <div v-text="'labelCustomMatch'|i18n"></div>
            <textarea v-model="custom.match"></textarea>
          </fieldset>
          <fieldset title="@exclude">
            <legend>
              <span v-text="'labelExclude'|i18n"></span>
              <label>
                <input type=checkbox v-model="custom.keepExclude">
                <span v-text="'labelKeepExclude'|i18n"></span>
              </label>
            </legend>
            <div v-text="'labelCustomExclude'|i18n"></div>
            <textarea v-model="custom.exclude"></textarea>
          </fieldset>
        </div>
      </div>
    </div>
    <h2 v-text="'labelScriptEditor'|i18n"></h2>
  </div>
  <div class="frame-footer">
    <div class="pull-right">
      <button v-text="'buttonSave'|i18n" @click="save" :disabled="!canSave"></button>
      <button v-text="'buttonSaveClose'|i18n" @click="saveClose" :disabled="!canSave"></button>
      <button v-text="'buttonClose'|i18n" @click="close"></button>
    </div>
    <label>
      <input type=checkbox v-model="update">
      <span v-text="'labelAllowUpdate'|i18n"></span>
    </label>
  </div>
  <div class=frame-body>
    <editor :on-save="save" :on-exit="close" :content.sync="code"></editor>
  </div>
</div>
