<div class="content">
  <h1>
    <span v-text="'labelAbout'|i18n"></span>
    <small>v{{version}}</small>
  </h1>
  <div class=line v-text="'extDescription'|i18n"></div>
  <div class=line>
    <label v-text="'labelRelated'|i18n"></label>
    <span v-html="'anchorSupportPage'|i18n"></span> |
    <a href=https://gerald.top/~donate target=_blank v-text="'labelDonate'|i18n"></a> |
    <a href=https://github.com/violentmonkey/violentmonkey/issues target=_blank v-text="'labelFeedback'|i18n"></a>
  </div>
  <div class=line>
    <label v-text="'labelAuthor'|i18n"></label>
    <span v-html="'anchorAuthor'|i18n"></span>
  </div>
  <div class=line>
    <label v-text="'labelTranslator'|i18n"></label>
    <span v-html="'anchorTranslator'|i18n"></span>
  </div>
  <div class=line>
    <label v-text="'labelCurrentLang'|i18n"></label>
    <span id="currentLang">{{language}}</span> |
    <a href=https://violentmonkey.github.io/localization.html#nex target=_blank>
      Help with translation
    </a>
  </div>
</div>
