<div class="edit flex flex-col fixed-full">
  <div class="frame-block">
    <div class="buttons pull-right">
      <a class="mr-1" href="https://violentmonkey.github.io/2017/03/14/How-to-edit-scripts-with-your-favorite-editor/" target="_blank">How to edit locally?</a>
      <div v-dropdown>
        <button dropdown-toggle v-text="i18n('buttonCustomMeta')"></button>
        <div class="dropdown-menu">
          <table>
            <tr>
              <td title="@name" v-text="i18n('labelName')"></td>
              <td class=expand>
                <input type="text" v-model="custom.name" :placeholder="placeholders.name">
              </td>
              <td title="@run-at" v-text="i18n('labelRunAt')"></td>
              <td>
                <select v-model="custom['run-at']">
                  <option value="" v-text="i18n('labelRunAtDefault')"></option>
                  <option value=start>document-start</option>
                  <option value=idle>document-idle</option>
                  <option value=end>document-end</option>
                </select>
              </td>
            </tr>
            <tr title="@homepageURL">
              <td v-text="i18n('labelHomepageURL')"></td>
              <td colspan=3 class=expand>
                <input type="text" v-model="custom.homepageURL" :placeholder="placeholders.homepageURL">
              </td>
            </tr>
          </table>
          <table>
            <tr title="@updateURL">
              <td v-text="i18n('labelUpdateURL')"></td>
              <td class=expand>
                <input type="text" v-model="custom.updateURL" :placeholder="placeholders.updateURL">
              </td>
            </tr>
            <tr title="@downloadURL">
              <td v-text="i18n('labelDownloadURL')"></td>
              <td class=expand>
                <input type="text" v-model="custom.downloadURL" :placeholder="placeholders.downloadURL">
              </td>
            </tr>
          </table>
          <fieldset title="@include">
            <legend>
              <span v-text="i18n('labelInclude')"></span>
              <label>
                <input type=checkbox v-model="custom.keepInclude">
                <span v-text="i18n('labelKeepInclude')"></span>
              </label>
            </legend>
            <div v-html="i18n('labelCustomInclude')"></div>
            <textarea v-model="custom.include"></textarea>
          </fieldset>
          <fieldset title="@match">
            <legend>
              <span v-text="i18n('labelMatch')"></span>
              <label>
                <input type=checkbox v-model="custom.keepMatch">
                <span v-text="i18n('labelKeepMatch')"></span>
              </label>
            </legend>
            <div v-html="i18n('labelCustomMatch')"></div>
            <textarea v-model="custom.match"></textarea>
          </fieldset>
          <fieldset title="@exclude">
            <legend>
              <span v-text="i18n('labelExclude')"></span>
              <label>
                <input type=checkbox v-model="custom.keepExclude">
                <span v-text="i18n('labelKeepExclude')"></span>
              </label>
            </legend>
            <div v-html="i18n('labelCustomExclude')"></div>
            <textarea v-model="custom.exclude"></textarea>
          </fieldset>
        </div>
      </div>
    </div>
    <h2 v-text="i18n('labelScriptEditor')"></h2>
  </div>
  <div class="frame-block flex-auto p-rel">
    <editor
      class="abs-full"
      :content="code" :commands="commands"
      @change="contentChange" @ready="initEditor"
    />
  </div>
  <div class="frame-block" v-show="search.show">
    <button class="pull-right" @click="clearSearch">&times;</button>
    <form class="inline-block mr-1" @submit.prevent="goToLine()">
      <span v-text="i18n('labelLineNumber')"></span>
      <input class="w-1" v-model="search.line">
    </form>
    <form class="inline-block mr-1" @submit.prevent="findNext()">
      <span v-text="i18n('labelSearch')"></span>
      <input ref="search" v-model="search.state.query" title="Ctrl-F">
      <button type="button" @click="findNext(1)" title="Shift-Ctrl-G">&lt;</button>
      <button type="submit" title="Ctrl-G">&gt;</button>
    </form>
    <form class="inline-block mr-1" @submit.prevent="replace()">
      <span v-text="i18n('labelReplace')"></span>
      <input v-model="search.state.replace">
      <button type="submit" v-text="i18n('buttonReplace')" title="Shift-Ctrl-F"></button>
      <button type="button" v-text="i18n('buttonReplaceAll')" @click="replace(1)" title="Shift-Ctrl-R"></button>
    </form>
  </div>
  <div class="frame-block">
    <div class="pull-right">
      <button v-text="i18n('buttonSave')" @click="save" :disabled="!canSave"></button>
      <button v-text="i18n('buttonSaveClose')" @click="saveClose" :disabled="!canSave"></button>
      <button v-text="i18n('buttonClose')" @click="close"></button>
    </div>
    <label>
      <input type=checkbox v-model="update">
      <span v-text="i18n('labelAllowUpdate')"></span>
    </label>
  </div>
</div>
