<div class="main">
  <aside>
    <img src="/public/images/icon128.png">
    <h1 v-text="i18n('extName')"></h1>
    <hr>
    <div class=sidemenu>
      <a href="#?t=Installed" :class="{active:tab==='Main'}" v-text="i18n('sideMenuInstalled')"></a>
      <a href="#?t=Settings" :class="{active:tab==='Settings'}" v-feature="'settings'">
        <span v-text="i18n('sideMenuSettings')" class="feature-text"></span>
      </a>
      <a href="#?t=About" :class="{active:tab==='About'}" v-text="i18n('sideMenuAbout')"></a>
    </div>
  </aside>
  <component :is="tab"></component>
</div>
