<div class="content no-pad">
  <header>
    <button v-text="i18n('buttonNew')" @click="newScript"></button>
    <button v-text="i18n('buttonUpdateAll')" @click="updateAll"></button>
    <button v-text="i18n('buttonInstallFromURL')" @click="installFromURL"></button>
    <div class="pull-right">
      <a href=https://greasyfork.org/scripts target=_blank v-text="i18n('anchorGetMoreScripts')"></a>
    </div>
  </header>
  <div class="backdrop" :class="{mask:store.loading}" v-show="message">
    <div v-html="message"></div>
  </div>
  <div class="scripts">
    <script-item v-for="script in store.scripts" :key="script" :script="script" @edit="editScript" @move="moveScript"></script-item>
  </div>
  <edit v-if="script" :script="script" @close="endEditScript"></edit>
</div>
