<section v-feature="'sync'">
  <h3>
    <span class="feature-text" v-text="i18n('labelSync')"></span>
  </h3>
  <div>
    <span v-text="i18n('labelSyncService')"></span>
    <select :value="syncConfig.current" @change="onSyncChange">
      <option v-for="service in syncServices" v-text="service.displayName" :value="service.name"></option>
    </select>
    <button v-text="labelAuthorize" v-if="service.name"
    :disabled="!canAuthorize" @click="onAuthorize"></button>
    <button :disabled="!canSync" v-if="service.name" @click="onSync">
      <svg class="icon"><use xlink:href="#refresh" /></svg>
    </button>
  </div>
  <p class="mt-1" v-text="message"></p>
  <h4 v-text="i18n('labelSyncSettings')"></h4>
  <div class="mt-1">
    <label>
      <input type="checkbox" v-setting="'syncScriptStatus'">
      <span v-text="i18n('labelSyncScriptStatus')"></span>
    </label>
  </div>
</section>
