{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["Chrome >= 41"]
      },
      "modules": false,
      // "useBuiltIns": true,
      // "debug": true,
    }]
  ],
  "plugins": [
    ["transform-runtime", {"polyfill": false}]
  ],
  "comments": false
}
