name: CI

on:
  - pull_request

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Install deps
        run: yarn
      - name: CI
        run: yarn ci
